<div id="column_w300">

    <div class="header_03">Latest News</div>

    <div class="column_w300_section_01">
        <div class="news_image_wrapper">
            <img src="~/Content/images/templatemo_image_02.jpg" alt="image" />
        </div>

        <div class="news_content">
            <div class="news_date">@System.DateTime.Now.ToShortDateString()</div>
            <div class="header_04"><a href="#">header1</a></div>
            <p>decription 1</p>
        </div>

        <div class="cleaner"></div>
    </div>

    <div class="column_w300_section_01 even_color">
        <div class="news_image_wrapper">
            <img src="~/Content/images/templatemo_image_03.jpg" alt="image" />
        </div>

        <div class="news_content">
            <div class="news_date">@System.DateTime.Now.ToShortDateString()</div>
            <div class="header_04"><a href="#">header2</a></div>
            <p>decription 2</p>
        </div>

        <div class="cleaner"></div>
    </div>

    <div class="column_w300_section_01">
        <div class="news_image_wrapper">
            <img src="~/Content/images/templatemo_image_04.jpg" alt="image" />
        </div>

        <div class="news_content">
            <div class="news_date">@System.DateTime.Now.ToShortDateString()</div>
            <div class="header_04"><a href="#">header3</a></div>
            <p>decription 3</p>
        </div>

        <div class="cleaner"></div>
    </div>

    <div class="cleaner"></div>
</div>
