<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="file" xsi:type="File"
       layout="${longdate} [${level}] ${message} [${exception:format=tostring}]"
       fileName="C://Logs//ContactApp-log.txt"
       archiveFileName="C://Logs//archives//ContactApp-log.{#####}.txt"
       archiveAboveSize="10485760"
       archiveNumbering="DateAndSequence"
       archiveDateFormat="yyyy-MM-dd"
       concurrentWrites="true"
       keepFileOpen="false"
       encoding="iso-8859-2" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="file" />
  </rules>
</nlog>
